---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

const all_posts = await getCollection('blog');
const tags = [...new Set(all_posts.flatMap((post) => post.data.tags))];
const page_title = "Tag Index";
---
<BaseLayout page_title={page_title} wide>
  <ul class="chip-list">
    {tags.map((tag) => (
      <li class="chip"><a href={`/tags/${tag}`}>{tag}</a></li>
    ))}
  </ul>
</BaseLayout>
