---
import BaseLayout from '../layouts/BaseLayout.astro';
const page_title = 'About';
const description = 'About Akira van de Groenendaal — CMU undergrad in computer science.';
---
<BaseLayout page_title={page_title} description={description}>
  <h2>Test header2</h2>
</BaseLayout>
